<div>
    <select title="Select implementation" @bind="Selected">
        @foreach (var impl in AvailableImplementations)
        {
            <option>@impl</option>
        }
    </select>
</div>

@if (Selected != null)
{
    <div>Selected option is '@Selected'.</div>
}

@code
{
    private List<string> AvailableImplementations { get; } = new List<string>
{
        "option 1",
        "option 2"
    };

    private string Selected { get; set; }
}
