@page "/"
@using Data.Knapsack
@using Data
@inject InputService InputService
@inject ImplementationInvokeService Invoker

<h1 class="text-center">Knapsack problem</h1>

<form @onsubmit="Process" class="p-2">
    <div class="p-2">
        <InputFilePicker NewValuesRead="@UpdateItems" />
        <ImplementationPicker />
    </div>

    <div class="p-2">
        <ImplementationSelector />
    </div>

    <div class="p-2">
        <KnapsackStatus />
    </div>

    <div class="p-2">
        <AvailableItems Items="@Items" Picked="Picked" />
    </div>

    <div class="p-2">
        <SelectedItems Picked="Picked"/>
    </div>

    <button type="submit" class="btn btn-primary m-2">Process</button>
</form>

@code
{
    private List<KnapsackItem> Items { get; set; }
    private List<bool> Picked { get; set; }

    private void UpdateItems()
    {
        Items = InputService.Input.Items;
    }

    protected override void OnInitialized()
    {
        UpdateItems();
    }

    private void Process()
    {
        Picked = Invoker.InvokeSelected().ToList();
    }
}
