@page "/"
@using Data.Knapsack
@using Data
@using KnapsackProblem.BlazorApp.Pages.FilePicking
@using KnapsackProblem.BlazorApp.Pages.KnapsackItems
@inject InputService InputService

<h1>Knapsack problem</h1>

<div>
    Add implementation
    <ImplementationPicker />
</div>

<div>
    Select input file
    <InputFilePicker />
</div>

<div>
    Select implementation
    <ImplementationSelector />
</div>

<div>
    <button type="submit" @onclick="UpdateItems">Show items</button>
</div>

@if (Items != null)
{
    <div>
        <AvailableItems Items="@Items" @ref="child"/>
    </div>
}

@code
{
    public List<KnapsackItem> Items { get; set; }

    private AvailableItems child;

    private async Task UpdateItems()
    {
        Items = InputService.Input?.Items;
        await InvokeAsync(StateHasChanged);
    }
}
