@page "/"

<h1>Knapsack problem</h1>

<div>
    Add implementation
    <ImplementationPicker />
</div>

<div>
    Select input file
    <InputFilePicker />
</div>

<div>
    Select implementation
    <ImplementationSelector />
</div>
