@using Data.Knapsack
@using Microsoft.AspNetCore.Components

Available items:
<table>
    <thead>
        <tr>
            <th width="20">Id</th>
            <th width="300">Name</th>
            <th width="80">Weight</th>
            <th width="80">Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Weight</td>
                <td>@item.Cost</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<KnapsackItem> Items { get; set; }

    public async Task Refresh()
    {
        await InvokeAsync(StateHasChanged);
    }
}
