@using Data.Knapsack
@using Microsoft.AspNetCore.Components

Available items:
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Weight</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td>
                    <input type="text" @bind="@item.Id" />
                </td>
                <td>
                    <input type="text" @bind="@item.Name" />
                </td>
                <td>
                    <input type="text" @bind="@item.Weight" />
                </td>
                <td>
                    <input type="text" @bind="@item.Cost" />
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<KnapsackItem> Items { get; set; }
}
