@using Data.Knapsack
@using Microsoft.AspNetCore.Components

Available items:
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Weight</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Items.Count; i++)
        {
            var item = Items[i];
            var index = i;
            <tr>
                <td>@(i + 1)</td>
                <td>
                    <input type="text" @bind="@item.Name" />
                </td>
                <td>
                    <input type="number" @bind="@item.Weight" />
                </td>
                <td>
                    <input type="number" @bind="@item.Cost" />
                </td>
                <td>
                    <input type="button" value="Remove" @onclick="() => RemoveItem(index)" />
                </td>
                <td>
                    @if (Picked != null && Picked.Length > 0 && Picked[index])
                    {
                        <div>+</div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <input type="button" @onclick="CreateNewItem" value="Add new item" />
</div>

@code {
    [Parameter]
    public List<KnapsackItem> Items { get; set; }

    [Parameter]
    public bool[] Picked { get; set; }

    private void CreateNewItem()
    {
        var item = new KnapsackItem();
        Items.Add(item);
    }

    private void RemoveItem(int index)
    {
        Items.RemoveAt(index);
    }
}
