@using Data
@inject ImplementationRegistryService RegistryService
@implements IDisposable

<select @onchange="@OnSelected">
    <option selected hidden disabled>Select implementation...</option>
    @{
        var implementations = RegistryService.Implementations;
        for (var i = 0; i < implementations.Count; i++)
        {
            var index = i;
            <option value="@index">@implementations[index].GetName()</option>
        }
    }
</select>

@code
{
    private void OnSelected(ChangeEventArgs args)
    {
        if (int.TryParse(args.Value.ToString(), out var index))
        {
            RegistryService.Select(index);
        }
        else
        {
            RegistryService.Deselect();
        }
    }

    protected override void OnInitialized()
    {
        RegistryService.ImplementationAdded += StateHasChanged;
    }

    public void Dispose()
    {
        RegistryService.ImplementationAdded -= StateHasChanged;
    }
}
