<div>
    <select title="Select implementation" @bind="Selected">
        @foreach (var impl in AvailableImplementations)
        {
            <option>@impl</option>
        }
    </select>
</div>

@code
{
    private List<string> AvailableImplementations { get; } = new List<string>
{
        "option 1",
        "option 2"
    };

    private string Selected { get; set; }

    protected override void OnInitialized()
    {
        if (AvailableImplementations.Count > 0)
        {
            Selected = AvailableImplementations[0];
        }
    }
}
