@using Data
@using Knapsack
@inject ImplementationRegistryService registryService
@implements IDisposable

<div>
    <select>
        @foreach (var impl in registryService.Implementations)
        {
            var implementation = impl;
            <option onclick="() => OnImplChange(implementation)">@impl.GetName()</option>
        }
    </select>
</div>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        registryService.ImplementationAdded += StateHasChanged;
    }

    private void OnImplChange(ISolver selected)
    {
        registryService.Selected = selected;
    }

    public void Dispose()
    {
        registryService.ImplementationAdded -= StateHasChanged;
    }
}
