@using KnapsackProblem.BlazorApp.Data
@inject InputService inputService
@implements IDisposable

<div>
    Capacity: <input type="number" @bind="@_knapsack.MaxWeight" />
</div>

@code {
    private Data.Knapsack.Knapsack _knapsack { get; set; }

    private void UpdateKnapsack()
    {
        _knapsack = inputService.Input.Knapsack;
    }

    protected override void OnInitialized()
    {
        UpdateKnapsack();
        inputService.InputUpdated += UpdateKnapsack;
    }

    public void Dispose()
    {
        inputService.InputUpdated -= UpdateKnapsack;
    }
}
