@using KnapsackProblem.BlazorApp.Data
@inject InputService inputService
@implements IDisposable

<h3>Knapsack status</h3>

<div>
    Capacity: <input type="number" value="@_knapsack.MaxWeight" />
</div>

@code {
    private Data.Knapsack.Knapsack _knapsack { get; set; }

    private async Task UpdateKnapsack()
    {
        _knapsack = inputService.Input.Knapsack;
        //await InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        UpdateKnapsack();
        inputService.InputUpdated += UpdateKnapsack;
    }

    public void Dispose()
    {
        inputService.InputUpdated -= UpdateKnapsack;
    }
}
