@using KnapsackProblem.BlazorApp.Data
@inject InputService InputService
@implements IDisposable

<div>
    Capacity: <input type="number" @bind="@Knapsack.MaxWeight" />
</div>

@code {
    private Data.Knapsack.Knapsack Knapsack { get; set; }

    private void UpdateKnapsack()
    {
        Knapsack = InputService.Input.Knapsack;
    }

    protected override void OnInitialized()
    {
        UpdateKnapsack();
        InputService.InputUpdated += UpdateKnapsack;
    }

    public void Dispose()
    {
        InputService.InputUpdated -= UpdateKnapsack;
    }
}
