@using KnapsackProblem.BlazorApp.Data
@inject InputService InputService
@implements IDisposable

<label for="weight">Capacity</label>
<input id="weight" type="number" @bind="@Knapsack.MaxWeight" min="0" required />

@code {
    private Data.Knapsack.Knapsack Knapsack { get; set; }

    private void UpdateKnapsack()
    {
        Knapsack = InputService.Input.Knapsack;
    }

    protected override void OnInitialized()
    {
        UpdateKnapsack();
        InputService.InputUpdated += UpdateKnapsack;
    }

    public void Dispose()
    {
        InputService.InputUpdated -= UpdateKnapsack;
    }
}
