@using KnapsackProblem.BlazorApp.Data
@inject InputService inputService

<h3>Knapsack status</h3>

<div>
    Capacity: <input type="number" value="@(_knapsack != null ? _knapsack.MaxWeight : 50)" />
</div>

@code {
    private Data.Knapsack.Knapsack _knapsack { get; set; }

    private async Task UpdateKnapsack()
    {
        _knapsack = inputService.Input.Knapsack;
        await InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        inputService.InputUpdated += UpdateKnapsack;
    }
}
